.stat-box {
  background-color: #ffffff;
  border-radius: 20px;
}

.stat-img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  object-fit: cover;
}

.btn-orange {
  background-color: #ff6a00;
  color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-orange:hover {
  background-color: #e55800;
}
