<div class="container py-5">

  <div class="row align-items-center">


    <div class="col-lg-6 mb-4">
      <img src="assets/img7.jpg" class="img-fluid rounded shadow" alt="About Us">
    </div>


    <div class="col-lg-6">

      <h2 class="fw-bold mb-3">About Us</h2>

      <p class="text-secondary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste voluptate esse fugiat optio quis! Architecto sequi magni adipisci quod voluptatum dolorem ipsa veniam unde tempora dolorum eum repellendus ratione ab molestiae tempore sint, impedit nulla reiciendis eveniet quia tenetur! A atque labore soluta pariatur iusto beatae qui eligendi enim quod?
      </p>

      <ul class="list-unstyled mt-3">
        <li class="mb-2">
          <i class="bi bi-check-circle-fill text-success me-2"></i>
          10,000+ destinations worldwide
        </li>
        <li class="mb-2">
          <i class="bi bi-check-circle-fill text-success me-2"></i>
          Best travel guides and services
        </li>
        <li class="mb-2">
          <i class="bi bi-check-circle-fill text-success me-2"></i>
          Trusted by millions of travelers
        </li>
      </ul>

      <button class="btn btn-dark rounded-pill px-4 mt-3">
        Learn More
      </button>

    </div>

  </div>

</div>
