.hero-section {
  margin-top: 80px;
}

/* Big right circle */
.hero-circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #f6f6f6;
  margin-left: auto;
  margin-right: auto;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Orange circular button */
.btn-orange {
  background-color: #ff6a00;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-orange:hover {
  background-color: #e55800;
}

/* WORLD Line */
.world-line {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 5px;
  margin-top: -15px;
}

.world-text {
  font-size: 50px;
  margin-top: 10px;
}

/* Small circular image */
.small-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.circle-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.explore {
  /* margin-bottom: 200px; */
}

.text-secondary{
    /* margin-bottom: 300px; */
}

/* .container{
    height: 400px;
    width: 100%;
}

.col-lg-6{
    height: 30px;
    width: 100%;
} */
