<div class="container py-5 hero-section">

  <div class="row align-items-center">

    <!-- LEFT SIDE -->
    <div class="col-lg-6">

      <div class="explore">

        <div>
          <h1 class="display-3 fw-bold text-dark lh-1">
            EXPLORE
          </h1>

          <div class="world-line">
            <button class="btn btn-orange">
              <i class="bi bi-arrow-right"></i>
            </button>

            <span class="fw-bold world-text">WORLD</span>

            <div class="small-circle">
              <img src="assets/img8.jpg" class="circle-photo" alt="Travel">
            </div>
          </div>
        </div>

      </div>

      <p class="text-secondary mt-3 w-75">
        Travel is the movement of people between distant geographical
        locations. Travel can be done by foot, bicycle, car, boat, or plane.
      </p>

    </div>

    <!-- RIGHT SIDE IMAGE -->
    <div class="col-lg-6 text-center">
      <div class="hero-circle">
        <img src="assets/beach.jpg" class="hero-img" alt="Travel">
      </div>
    </div>

  </div>

</div>
