<div id="destinations" class="container py-5">

  <!-- Title -->
  <h2 class="fw-bold text-center mb-4">Discover the world</h2>

  <div class="row g-4">

    <!-- CARD 1 -->
    <div class="col-lg-4 col-md-6">
      <div class="card travel-card shadow-sm border-0">
        <img src="assets/img1.jpg" class="card-img-top rounded-top-4" alt="">

        <div class="card-body">
          <small class="text-secondary">Colorado, USA</small>
          <h5 class="fw-bold mt-1">Shadowpeak Canyon</h5>

          <div class="d-flex justify-content-between align-items-center mt-3">
            <span class="price-tag">$240 <small>/person</small></span>
            <button class="btn btn-orange-sm">View Details</button>
          </div>
        </div>
      </div>
    </div>

    <!-- CARD 2 -->
    <div class="col-lg-4 col-md-6">
      <div class="card travel-card shadow-sm border-0">
        <img src="assets/img2.jpg" class="card-img-top rounded-top-4" alt="">

        <div class="card-body">
          <small class="text-secondary">Wadi Rum Desert, Jordan</small>
          <h5 class="fw-bold mt-1">Crimson Rift</h5>

          <div class="d-flex justify-content-between align-items-center mt-3">
            <span class="price-tag">$400 <small>/person</small></span>
            <button class="btn btn-orange-sm">View Details</button>
          </div>
        </div>
      </div>
    </div>

    <!-- CARD 3 -->
    <div class="col-lg-4 col-md-6">
      <div class="card travel-card shadow-sm border-0">
        <img src="assets/img3.jpg" class="card-img-top rounded-top-4" alt="">

        <div class="card-body">
          <small class="text-secondary">Namib Desert, Namibia</small>
          <h5 class="fw-bold mt-1">Whispering Dunes</h5>

          <div class="d-flex justify-content-between align-items-center mt-3">
            <span class="price-tag">$300 <small>/person</small></span>
            <button class="btn btn-orange-sm">View Details</button>
          </div>
        </div>
      </div>
    </div>
    <!-- CARD 4 -->
    <div class="col-lg-4 col-md-6">
      <div class="card travel-card shadow-sm border-0">
        <img src="assets/img4.jpg" class="card-img-top rounded-top-4" alt="">

        <div class="card-body">
          <small class="text-secondary">Namib Desert, Namibia</small>
          <h5 class="fw-bold mt-1">Whispering Dunes</h5>

          <div class="d-flex justify-content-between align-items-center mt-3">
            <span class="price-tag">$300 <small>/person</small></span>
            <button class="btn btn-orange-sm">View Details</button>
          </div>
        </div>
      </div>
    </div>
    <!-- CARD 5-->
    <div class="col-lg-4 col-md-6">
      <div class="card travel-card shadow-sm border-0">
        <img src="assets/img5.jpg" class="card-img-top rounded-top-4" alt="">

        <div class="card-body">
          <small class="text-secondary">Namib Desert, Namibia</small>
          <h5 class="fw-bold mt-1">Whispering Dunes</h5>

          <div class="d-flex justify-content-between align-items-center mt-3">
            <span class="price-tag">$300 <small>/person</small></span>
            <button class="btn btn-orange-sm">View Details</button>
          </div>
        </div>
      </div>
    </div>
    <!-- CARD 6 -->
    <div class="col-lg-4 col-md-6">
      <div class="card travel-card shadow-sm border-0">
        <img src="assets/img6.jpg" class="card-img-top rounded-top-4" alt="">

        <div class="card-body">
          <small class="text-secondary">Namib Desert, Namibia</small>
          <h5 class="fw-bold mt-1">Whispering Dunes</h5>

          <div class="d-flex justify-content-between align-items-center mt-3">
            <span class="price-tag">$300 <small>/person</small></span>
            <button class="btn btn-orange-sm">View Details</button>
          </div>
        </div>
      </div>
    </div>

    <!-- You can add 3 more cards later -->
  </div>

</div>
